*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 14px;
    line-height: 1.15;
}
#wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
h3{
    font-size: 18px;
    padding: 10px 20px;
    color: black;
    text-transform: uppercase;
    border: 3px solid #bebebe;
    display: inline-block
}
.headline{
    text-align: center;
    margin: 40px 0;
}
ul.products{
    display: flex;
    flex-wrap:wrap ;
    list-style: none;
    justify-content: space-between; 
}
ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-top: 30px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li .product-infor{
    color: #9e9e9e;
}
ul.products li .product-infor a{
    display:block;
    text-decoration: none;
    color: rgb(102, 161, 181);
}
ul.products li .product-infor a.product-cat{
    text-transform: uppercase;
    padding: 3px 0;
}
ul.products li .product-infor a.product-name{
    color: #334862;
    padding: 3px 0;
}
ul.products li .product-infor a.product-price{
    color: #10243d;
    font-size: 9px;
}
.product-top .buy-now{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    width: 89%;
    text-align: center;
    background-color: rgb(9, 44, 56);
    color: #ffff;
}
.product-thumb img{
    display: block;
}
ul.products li.product-top{
    position: relative;
}